[Desktop Entry]
Name=KTerm
Comment=Kanji Terminal Emulator
Comment[pl]=Emulator terminala Kanji
Exec=kterm
Terminal=false
Icon=xterm
Type=Application
Categories=TerminalEmulator;
# vi: encoding=utf-8
